footer{
    background-color:$footerBlue;
    display:flex;
    justify-content:center;
    align-items:center;
    height:58px;
    color:white;
    padding-left:9px;
    padding-right:9px;

    p{
        text-align:center;
        font-family:$robotoLight;
    }
}
