footer{
    background-color:$footerBlue;
    display:flex;
    height:58px;
    color:white;
    
    
   
    p{
        padding-top:10px;
        margin-left:10px;
        text-align:center;
       font-family:$robotoLight;
    }
}
