footer{
    background-color:$footerBlue;
    display:block;
    height:58px;
    color:white;
    
    padding-left:25px;
    padding-right:25px;
    p{
        padding-top:10px;
       font-family:$robotoLight
    }
}
