header {
    @include flexWrapSpaceBtwn;
    background-color: $backGroundColorLight;
    max-width: 1000px;
    margin: 0 auto;

    .logo {
        margin: 0;
        width: 70%;
        height: 35px;
        padding-left: 10px;
        
        picture{
            padding: 10px 0 5px 0;
            display: block;
          }
    }

    #main-navigation{
        visibility: hidden;
        overflow: hidden;
        height: 0;
        @include transitions-h-v;
    }
    
    @at-root .show {
        
        #main-navigation{
            visibility: visible;
            @include transitions-h-v;
            height: 241px;
        }
    }
    
    @include mq($smallTablet) {

        #main-navigation{
            margin-top: 5px;
            visibility: visible;
            overflow: visible;
            display: flex;
            height: auto;
            position: relative;
        } 
        
        @at-root header {
            position: relative;
            height: 90px;
        }

        .logo{
            position: absolute;
        }
    }

    @include mq($largeTablet) {
        .logo{
            width: 43%;
        }

        @at-root header {
            position: relative;
            height: 98px;
        }
    }

    @include mq($dektopLayout) {
        @at-root header {
            position: static;
            height: auto;
        }
        
        .logo{
            position: static;
            margin-bottom: 11px;
        }
    }
}