
// Media Query Mixin
@mixin mq($w){
    @media (min-width: $w){
        @content;
    }
}

//Flex
@mixin flexWrapSpaceBtwn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin flexWrapCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin flexwrap-align-center{
    display: flex;
    align-items: center;
}

//transitions
@mixin transitions-h-v {
    transition: height 0.3s ease-in-out, visibility 0.3s;
}

@mixin transitions-h-v-none{
    transition: height 0s ease, visibility 0s;
}

@mixin transitions-none {
    transition: none;
}

//Borders

@mixin borders-y-none{
    border-top: none;
    border-bottom: none;
}

//social media style
@mixin social-media-style{
    display: block;
    position: absolute;
    right: 50%;
    transform: translateX(-50%); 
    font-size: 1.3em;  
}

//Full size image
@mixin full-size-image{
    width: 100%;
    display: block;
}

//h1 headers
@mixin headers{
    color: $whiteColor;
    font-family: $robotoLight;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 2.25em;
    padding-left: 10px;
}

//Box shadow
@mixin box-shadow{
    box-shadow: inset 0px 0px 5px 0px darkgray;
}