header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $backGroundColorLight;
    padding-bottom: 9px;
    
    .logo {
        border: 1px solid $headerBackground;
        width: 53px;
        height: 35px;
        margin: 5px 0 0 10px;

        img,
        @at-root .hamburger-menu img{
            display: block;
            width: 100%;
            height: 100%;;
        }
    }

    .hamburger-menu {
        background-color: $backGroundColorLight;
        border: none;
        padding: 0;
        width: 34px;
        height: 28px;
        margin: 10px 10px 0 0;
    }

    nav {
        display: block;
        width: 100%;
        padding-top: 5px;

        ul{
            margin: 0;
            padding: 0;
            display: block;
            list-style: none;
            background-color: $headerBackground;
            line-height: 2em;
            border: 1px solid $navBorderBottom;
            
            li {
                background-color: $headerBackground;
                text-align: center;
                border-bottom: 1px solid $navBorderBottom;
    
                a{
                    text-decoration: none;
                    display: block;
                    color: $backGroundColorLight;
                }

                &:first-child{
                    text-align: left;
                    position: relative;
                    background-color: $backGroundColorLight;
                    
                    input {
                        display: block;
                        width: 100%;
                        background-color: $textBoxGrey;
                        border: none;
                        outline: none;
                        line-height: 32px;
                        padding-left: 10px;
                        border-radius: 5px;
                    }
    
                    img{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        width: 1.3em;
                    }
                    
                }

                &:last-child{
                    background-color: $backGroundColorLight;
                    border-bottom: none;;
    
                    i{
                        color: $headerBackground;
                        padding: 0 5px;
    
                    }
                }
            }
        }
    }
}