nav {
    padding-top: 8px;
    @include full-size-image;
        
        .search{
            background-color: $headerBackground;
            line-height: 2em;
            border: 1px solid $navBorderBottom;
            border-bottom: none;

            form {
                text-align: left;
                position: relative;
                background-color: $backGroundColorLight;
                
                input {
                    display: block;
                    width: 100%;
                    background-color: $textBoxGrey;
                    border: none;
                    outline: none;
                    line-height: 32px;
                    padding-left: 10px;
                    border-radius: 5px;
                    font-family: $robotoBold;
                }
    
                button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    padding: 0;
                    width: 1.6em;
                    cursor: pointer;
                }
            }
        }

        .menu{
            padding: 0;
            display: block;
            background-color: $headerBackground;
            line-height: 2em;
            border: 1px solid $navBorderBottom;
            z-index: 1;
            
            li {
                background-color: $headerBackground;
                text-align: center;
                border-bottom: 1px solid $navBorderBottom;
    
                a{
                    display: block;
                    color: $backGroundColorLight;
                    font-family: $robotoBold;
                    
                    #{$lhs} {//#concatenates a:hover, a:focus, a:active 
                        background-color: $backGroundColorLight;
                        color: $headerBackground;
                    }
                }

                &:last-child{
                    @include borders-y-none;
                }
            }
        }

        .social {
            background-color: $backGroundColorLight;
            border: 1px solid $navBorderBottom;
            line-height: 2em;
            height: 31.4px;
            border-top: none;
            padding: 0;
            overflow: hidden;
            @include flexWrapCenter;

            li{
                position: relative;
                height: 32px; 
                transition: all 0.3s;

                #{$hover}{
                    transform: translateY(-27px);
                }

                &:first-child{
                    margin: 0 25px;
                }
    
                &:nth-child(2){
                    margin-left: 15px;
                }
    
                &:last-child{
                    margin-left: 30px;
                }

                span:first-child{
                    @include social-media-style;
                    color: $headerBackground;
                }

                span:last-child{
                    @include social-media-style;                 
                    color: $socialMediaGrey;  
                    top:27px;  
                }
            }
        }

    @include mq($smallTablet) {

        .social{
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            right: 10px;

            li{
                transition: none;
            }
        }

        .menu{
            display: flex;
            width: 100%;
            align-self: flex-end;

            li{
                width: 100%;
            }
        }

        .search{
            position: absolute;
            right: 10px;
            width: 30%;
            border: none;

            input{
                @include box-shadow;
            }
        }
    }

    @include mq($largeTablet) {
        .social{
            visibility: visible;
            position: absolute;
            right: 10px;
            border: none;
            
            li:last-child{
                margin-left: 35px;
            }
        }

        .search{
            right: 130px;
            width: 28%;
        }
    }

    @include mq($dektopLayout) {
        .search{
            position: static;
            width: 35%;
            order: 3;

            form{
                input{
                    border-radius: 0;
                }
            }
        }

        .social{
        bottom: 45px;
        }

        .menu{
            order: 2;

            li{
                border-bottom: none;
            }
        }
    }
}
        
    


