//resets
*,
*:before,
*:after{
    box-sizing:border-box;
}
//image reset
img{
    max-width:100%;
    height:auto;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
body, figure, article, p{
    margin:0;
}