//body
$bodyBackgroundImage: url('../images/bg.jpg');


//colours

//mobile colours
$footerBlue:rgb(24,93,152);
$hamburgerMenu: rgb(8,69,127);
$headerBackground:rgb(24,93,153);
$buttonBlue: rgb(23,92,152);
$backGroundColorLight:rgb(247,247,247);
$blackColor: rgb(0,0,0);
$whiteColor: rgb(255, 255, 255);
$recipeGrey: rgb(228,228,228);
$cuisinesLight: rgb(242,242,242);
$navBorderBottom:rgb(7,68,127);
$textBoxGrey:rgb(213,213,213);
$socialMediaGrey:rgba(136, 134, 135, 0.712);
$bottomHeader:rgba(0, 0, 0, 0.603);

//fonts
$robotoBold: 'Roboto Condensed', sans-serif;
$robotoLight:'Roboto', sans-serif;

//hovers
$lhs: '&:hover, &:focus, &:active';
$hover:'&:hover';

// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

//Media Query Breakpoints
$largePhone: em(330);
$smallTablet: em(500);
$topMain: em(670);
$largeTablet: em(700);
$dektopLayout: em(770);